@import url('https://fonts.googleapis.com/css?family=Lato:100,400,900');

/*body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}*/


}
.row {
    width: 100%;
}
.nopadding {
    padding: 0;
}
.words {
    opacity: 0.6;
    /*border: 0px solid #aaa;*/

    background-color: white;
    max-width: 400px;
    height: 750px;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    padding: 1rem;
    box-shadow: 5px 5px 5px #aaa;
}
.img1 {
    background: url('P01.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    margin: 0px;
}
.img2 {
    background: url('P04.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.img3 {
    background: url('P03.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.h1 {
    color: orangered;
    font-size: 2rem;
    letter-spacing: 2px;
    text-align: justify;
    opacity: 1;
}
/* .h3_1 {
    color: white;
    font-size: 1rem;
    letter-spacing: 3px;
    float: right;
    text-align: right;
    font: 400 15px/1.8 Lato, sans-serif; */
}
.h31 {
    color: white;
    font-size: 1rem;
    letter-spacing: 3px;
    float: right;
    text-align: right;
    font: 400 15px/1.8 Lato, sans-serif;
}
.links {
    font-weight: 500;
    text-decoration: none;
    color: black;
    /*margin-top: 15px;*/
}
.links:hover,
.links:active {
    color: yellow;
    background-color: black;
}
.emailin {
    margin-top: 5px;
}
.b1 {
    margin-top: 10px;
    width: 380px;
    text-align: center;
}
/* .form-group {
    font-family: "Lato";
    max-width: 400px;
    padding: 10px;
    border: 1px solid black;
} */
input[type] {
    -webkit-appearance: none;
    width: 100%;
    font-size: 1rem;
    height: 1rem;
    opacity: 1;
}
input[type=text],
input[type=email] {
    border: none;
    border-bottom: 1px solid black;
}
input[type=text]:focus,
input[type=email]:focus {
    /*7. remove the default glow with outline:none */
    /*8. set the border and text color to: orangered*/

    outline: none;
    border-color: orangered;
    color: orangered;
}